* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #7f9ec7;
    padding: 20px;
    color:rgb(0, 0, 0);
}

header {
    padding: 0px 20px;
    margin-bottom:20px;
    justify-content: space-between;
    display: flex;
}

header a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

header a:hover {
    color: #1a348b;
}

#menu {
    display: flex;
    gap: 20px;
    margin-right: 20px;
    align-items: center;
}

.letras_pequenas {
    color:rgb(0, 0, 0);
    text-transform: uppercase;
    font-weight: bold;
    font-size: x-small;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#introducao {
    padding: 20px;
}

#introducao h2 {
    font-size: 60px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#area-curiosidades {
    background-color: rgb(198, 227, 250);
    padding: 20px;
    border-style: solid;
    border-radius: 20px;
    border-color: rgb(162, 189, 211);
    margin: 20px;
    display: flex;
    gap: 20px;
    align-items: center;
}

#icone img {
    width: 450px;
    border-radius: 20px;
    padding: 5px;
}

#icone p {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.curiosidade {
    display: flex;
    gap: 20px;
    justify-content: left;
    align-items: flex-start;
    background-color: rgb(172, 192, 247);
    border-radius: 20px;
    border-style: solid;
    border-color: rgb(150, 169, 219);
    padding: 5px 20px ;
    margin-top: 10px;
    margin-bottom: 10px;
}

footer {
    padding: 20px;
    justify-content: space-between;
    display: flex;
}

footer a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

footer a:hover {
    color: #1a348b;
}

#links-rodape {
    display: flex;
    gap: 20px;
    align-items: center;
}